@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #d4d4d8;
  --color-gray-850: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --color-gray-850: var(--color-gray-850);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);

  --shadow-glow: 0 0 40px -10px rgba(99, 102, 241, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #d4d4d8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Range Slider */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e4e4e7;
  border: 2px solid #000;
  cursor: pointer;
  margin-top: -7px;
  box-shadow: 0 0 0 1px #52525b;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #27272a;
  border-radius: 2px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Syntax Highlighting */
.shiki {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--font-mono);
}

textarea {
  font-family: var(--font-mono);
  line-height: 1.5;
}

/* Custom Scrollbar */
.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #27272a 1px, transparent 1px),
    linear-gradient(to bottom, #27272a 1px, transparent 1px);
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}